body {
    background-color: #111;
    margin: 0;
    font-family: Verdana, sans-serif;
    color: #bcbcbc;
}

#content {
    padding-left: 21%;
    padding-right: 21%;
    padding-top: 1em;
}

#content a {
    color: inherit;
}

h2 {
    font-size: 0.95em;
    padding-top: 1em;
    padding-bottom: 0.7em;
}

p {
    font-size: 0.8em;
}
