body {
    background-color: #111;
    margin: 0;
    font-family: Verdana, sans-serif;
    color: #c5c5c5;
}

.blur {
    filter: blur(3px);
    -webkit-transition: 1.5s; /* Safari */
    transition: 1.5s;
}

@-moz-document url-prefix() {
    .blur {
        filter: none;
    }
}

#content {
    padding-left: 21%;
    padding-right: 21%;
    padding-top: 3vh;
}

#controls {
    margin-top: 4.2vh;
}

button {
    margin-right: 4px;
    background-color: #2a2a2a;
    color: #d0d0d0;
    border: none;
    padding: 0.22em 0.72em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
}

.mixitup-control-active {
    background-color: #0072c2;
}

.container {
    margin-top: 3.5vh;
    min-height: 100vh;
}

.map {
    float: left;
    width: 30.1%;
    margin: 0.4%;
    margin-top: 0.5vh;
    padding: 1%;
    background-color: #1c1c1c;
    border-radius: 2px;
    cursor: pointer;
}

.map:hover {
    background-color: #2a2a2a;
}

.map img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.mapMeta {
    width: 100%;
    text-align: center;
    margin-top: 6px;
    font-size: 0.8em;
    color: #b7b7b7;
}

h1 {
    font-size: 1.15em;
    font-weight: 500;
}
