.navbar {
    z-index: 10;
    position: relative;
    font-size: 0.9em;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding-left: 21%;
    padding-right: 21.5%;
    overflow: hidden;
    background-color: #252626;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    text-align: center;
    padding: 0.4em 0.7em;
    text-decoration: none;
    color: #ddd;
}

.navbar li a:hover {
    background-color: #0084e6;
}

.navbar li.dropdown {
    display: inline-block;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #202020;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navbar .dropdown-content a {
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar .dropdown-content a:hover {
    background-color: rgba(100, 100, 100, 0.5);
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

#brand {
    font-size: 1.4em;
    padding-top: 0.08em;
    color: #4dafff;
    margin-right: 0.5em;
    user-select: none;
    cursor: default;
}

@media (max-device-width: 1400px) {
    .navbar li a {
        padding: 0.5em 0.8em;
    }

    .navbar .dropdown-content a {
        padding: 8px 16px;
    }

    #brand {
        font-size: 1.3em;
        padding-top: 0.15em;
    }
}
