body {
    background-color: #111;
    overflow: hidden;
    margin: 0;
    font-family: Verdana, sans-serif;
    color: #c5c5c5;
}

#content {
    position: absolute;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: -10.5vw;
    margin-left: 1.8vw;
    transform: scaleY(0.5);
    backface-visibility: hidden;
    animation-name: mapBlur;
    animation-duration: 0.5s;
}

@-moz-document url-prefix() {
    #content {
        animation: none;
    }
}

#map {
    transform: rotate(45deg);
}

@keyframes mapBlur {
    from {
        filter: blur(3px);
    }
    to {
        filter: blur(0px);
    }
}

.map-line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.square-box {
    min-width: 2.77vw;
    min-height: 2.77vw;
    width: 2.77vw;
    height: 2.77vw;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.square-box > div.filter {
    min-height: 1px;
    min-width: 1px;
    height: 100%;
    width: 100%;
}

.default {
    cursor: pointer;
}

.bg-default-light {
    background-color: #958d69;
}

.bg-default-dark {
    background-color: #8b8561;
}

#map img {
    display: none;
}

.bg-wall > img#wall {
    display: block;
    height: 160%;
    margin-left: -60%;
    margin-top: -59%;
    pointer-events: none;
}

.bg-hole {
    border: 1px solid #2a2a2a;
}

.bg-obstacle img#obstacle {
    display: block;
    height: 350%;
    margin-left: -220%;
    margin-top: -330%;
    pointer-events: none;
    opacity: 1 !important;
}

img#obstacle-shadow {
    height: 350%;
    margin-left: -220%;
    margin-top: -330%;
    pointer-events: none;
    opacity: 1 !important;
    display: none;
}

.cell-hover {
    background-image: url('../../images/hover.png');
    background-size: 100% 100%;
}

.filter {
    background-color: rgba(0, 0, 0, 0);
}

.bg-shadow-light .filter {
    background-color: rgba(10, 15, 37, 0.25) !important;
}

.bg-shadow-dark .filter {
    background-color: rgba(10, 17, 37, 0.28) !important;
}

.bg-obstacle.bg-shadow-dark img#obstacle,
.bg-obstacle.bg-shadow-light img#obstacle {
    display: none;
}

.bg-obstacle.bg-shadow-dark img#obstacle-shadow,
.bg-obstacle.bg-shadow-light img#obstacle-shadow {
    display: block;
}

.target {
    background-image: url('../../images/targetredof.png');
    background-size: 100% 100%;
    cursor: default;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#invalid-id {
    margin-left: 20%;
    margin-top: 3%;
}

footer {
    position: absolute;
    bottom: 2vh;
    width: 100%;
    text-align: center;
    color: #aaa;
    font-size: 0.7em;
}

#map-name {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 45px;
    font-size: 1.1em;
    z-index: 10;
}

#target-image-preloader {
    background: url(../../images/targetredof.png) no-repeat -9999px -9999px;
}

@media (max-device-width: 1400px) {
    #content {
        top: 0vh;
    }
    #map-name {
        top: 40px;
        font-size: 0.9em;
    }
    footer {
        bottom: 1.5vh;
    }
}

@media (min-device-width: 3440px) and (max-device-height: 1440px) {
    #content {
        margin-top: -7vw;
        margin-left: 11vw;
    }
    .square-box {
        min-width: 2.2vw;
        min-height: 2.2vw;
        width: 2.2vw;
        height: 2.2vw;
    }
}
