#navbar {
    z-index: 10;
    position: relative;
    font-size: 0.8em;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding-left: 21%;
    padding-right: 20.5%;
    overflow: hidden;
    background-color: #252626;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: #ddd;
    text-align: center;
    padding: 6px 10px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #3e3f3f;
}

#navbar li.dropdown {
    display: inline-block;
}

#navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #202020;
    min-width: 270px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#navbar .dropdown-content a {
    padding: 7px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#navbar .dropdown-content a:hover {
    background-color: rgba(100, 100, 100, 0.5);
}

#navbar .dropdown:hover .dropdown-content {
    display: block;
}

::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-track-piece {
    background: #111;
}
::-webkit-scrollbar-thumb {
    background: #333;
}
