body {
    background-color: #111;
    margin: 0;
    font-family: Verdana, sans-serif;
    color: #ccc;
}

#content {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
}

#content ul {
    padding: 0;
    list-style: none;
    float: left;
}

#content li {
    margin: 5px;
    text-align: right;
}

#content li:last-child {
    padding-top: 2px;
}

#content li input,
select {
    border-radius: 2px;
    border: none;
    padding: 5px;
}

label {
    float: left;
    margin-right: 50px;
}
