body {
    background-color: #111;
    overflow: hidden;
    margin: 0;
    font-family: Verdana, sans-serif;
    color: #c5c5c5;
}

#content {
    position: absolute;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: -11.2vw;
    margin-left: 1.8vw;

    transform: scaleY(0.5);
}

#map {
    transform: rotate(45deg);
    user-select: none;
}

.map-line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.square-box {
    min-width: 2.73vw;
    min-height: 2.73vw;
    width: 2.73vw;
    height: 2.73vw;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.square-box > div.filter {
    min-height: 1px;
    min-width: 1px;
    height: 100%;
    width: 100%;
}

.bg-default-light {
    background-color: #968e67 !important;
}

.bg-default-dark {
    background-color: #8e865e !important;
}

#map img {
    display: none;
}

#map .bg-wall > img {
    display: block;
    height: 162%;
    margin-left: -60%;
    margin-top: -60%;
    pointer-events: none;
}

.bg-hole {
    background-color: transparent;
    border: 1px solid #555;
}

.bg-outmap {
    background-color: transparent;
}

#map .bg-obstacle > img#obstacle {
    display: block;
    height: 162%;
    margin-left: -60%;
    margin-top: -60%;
    pointer-events: none;
    opacity: 1 !important;
}

#map .cell-hover > img#obstacle {
    display: block;
    height: 162%;
    margin-left: -60%;
    margin-top: -60%;
    pointer-events: none;
    opacity: 0.5;
}

.bg-shadow .filter {
    background-color: rgba(10, 20, 40, 0.24);
}

.cell-hover.bg-hole,
.cell-hover.default {
    border: 2px solid #ddd;
}

.cell-hover img {
    opacity: 0.7;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#invalid-id {
    margin-left: 20%;
    margin-top: 3%;
}

@media (max-device-width: 1400px) {
    #content {
        margin-top: -10.8vw;
    }
}
