#tools {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 3vw;
    margin-top: 6vh;
    z-index: 9;
    text-align: right;
}

#tools ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#tools li {
    padding-top: 2px;
}

#tools li > div {
    margin-bottom: 5px;
}

#tools button {
    background-color: #444;
    border: none;
    color: #eee;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 60px;
}

.selected {
    background-color: #07c !important;
}

#tools button:focus {
    outline: none;
}

#activation {
    margin-top: 15px;
}

#activation button {
    width: auto;
}
